<%- include("header") -%>
<h2> this is the about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam omnis in optio velit, doloribus sapiente doloremque quaerat rerum aut corrupti aliquid perferendis deserunt nulla voluptate, aperiam fugiat ducimus possimus eaque.</p>


<%- include("footer") -%>